In [1]:
#input= python is easy and powerfull
sen=input("Enter your sentence: ")
words=sen.split()
unique_words= set(words)
print("Unique Words count= ",len(unique_words))
print("Unique Words= ",unique_words)

Enter your sentence:  python is easy and powerfull

Unique Words count=  5
Unique Words=  {'powerfull', 'is', 'python', 'easy', 'and'}

In [2]:
employees={"Ravi":75000,"Anita":68000,"Kiran":72000}
emp_name=""
highest_sal=0
for name,salary in employees.items():
    if salary>highest_sal:
        highest_sal=salary
        emp_name=name
print("Highest Salary: ",emp_name,"-",highest_sal)

Highest Salary:  Ravi - 75000

In [3]:
numbers=[45,22,89,10,66]
print(numbers)
print("Maximum Values= ",max(numbers))
print("Minimum Values= ",min(numbers))

[45, 22, 89, 10, 66]
Maximum Values=  89
Minimum Values=  10

In [4]:
prices=[450,1200,899,1500,300]
count=0
for price in prices:
    if price>1000:
        count=count+1
print("Products above 1000: ",count)

Products above 1000:  2

In [7]:
attendance=["P","P","A","P","P"]
count=0
for attend in attendance:
    if attend=="P":
        count+=1
percentage=(count/len(attendance)*100)
print("Attendance percentage= ",percentage)

Attendance percentage=  80.0

In [8]:
phone_numbers=[9876543210,9123456789,9876543210]
unique=set(phone_numbers)
print("Unique phone numbers: ",unique)

Unique phone numbers:  {9876543210, 9123456789}

In [9]:
text=input("Enter String: ")
freq={}
for ch in text:
    if ch in freq:
        freq[ch]+=1
    else:
        freq[ch]=1
print(freq)

Enter String:  soumyasinha

{'s': 2, 'o': 1, 'u': 1, 'm': 1, 'y': 1, 'a': 2, 'i': 1, 'n': 1, 'h': 1}

In [10]:
lst=[10,20,30]
tup=tuple(lst)
tup

(10, 20, 30)

In [11]:
employees={"Ravi":75000,"Anita":68000}
key=input("Enter employee name: ")
if key in employees:
    print("Employees Exists")
else:
    print("Employees does not exists")

Enter employee name:  Ravi

Employees Exists

In [13]:
marks=[70,80,65,75]
total=0
for m in marks:
    total+=m
avg=total/len(marks)
print("Average Marks= ",avg)

Average Marks=  72.5